<%= simple_form_for(@article) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :abstract %>
      <%= f.input :author %>
      <%= f.input :key_words %>
      <%= f.input :language %>

      <% if current_user.admin? %>
          <%= f.input :status, collection: Article.statuses.keys.map {|role|
            [t(role, scope: [:activerecord, :attributes, :article, :status]), role]}, include_blank: false %>
      <% end %>

      <% if current_user.id == @article&.user&.id && (@article&.tcbec? || @article&.tcbr? )   %>
              <%= f.input :checked_as_corrected %>
      <% end %>

      <%= f.input :file, as: :file, input_html: {accept:'.pdf'} %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-block btn-primary' %>
    </div>
<% end %>
