<div class="container-with-margin">


  <!-- Editorial comitee member -->
  <% if current_user.ecm? && !current_user.reviewed_article?(@article) && @article.basic? %>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Opciones de aprobación</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fa "> &nbsp;

            <!-- Approved -->
            <%= simple_form_for @article, url: article_update_users_article_path(@article) do |f| %>

                <%= hidden_field_tag :status, :eca %>

                <%= select_tag :referee_1_id, options_from_collection_for_select(User.where(role: :referee), 'id', 'first_name') %>
                <%= select_tag :referee_2_id, options_from_collection_for_select(User.where(role: :referee), 'id', 'first_name') %>
                <%= select_tag :referee_3_id, options_from_collection_for_select(User.where(role: :referee), 'id', 'first_name') %>

                &nbsp; &nbsp;


                <%= f.submit 'Aprobar', class: 'btn btn-primary' %>

            <% end %>
          </li>

          <li class="list-group-item fa "> &nbsp;

            <!-- Rejected -->
            <%= simple_form_for @article, url: article_update_users_article_path(@article) do |f| %>

                <%= hidden_field_tag :status, :rejected_by_ec %>
                <%= text_field_tag :note %>

                &nbsp; &nbsp;


                <%= f.submit 'Rechazar', class: 'btn btn-danger' %>

            <% end %>

          </li>

          <li class="list-group-item fa "> &nbsp;

            <!-- correction note -->
            <%= simple_form_for @article, url: article_update_users_article_path(@article) do |f| %>

                <%= hidden_field_tag :status, :tcbec %>
                <%= text_field_tag :note %>

                &nbsp; &nbsp;

                <%= f.submit 'Enviar correción', class: 'btn btn-info' %>

            <% end %>
          </li>
        </ul>
      </div>

      <br>
      <br>
      <br>
      <br>


  <% end %>



  <!-- Referees members -->
  <% if current_user.referee? && !current_user.reviewed_article?(@article) && @article.eca? && @article.selected_referees.include?(current_user) %>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Opciones de revisión</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fa "> &nbsp;


            <!-- Approved -->
            <%= simple_form_for @article, url: article_update_users_article_path(@article) do |f| %>

                <%= hidden_field_tag :status, :approved_by_referee %>

                &nbsp;&nbsp;
                <%= f.submit 'Aprobar', class: 'btn btn-primary' %>

            <% end %>

          </li>

          <li class="list-group-item fa "> &nbsp;

            <!-- Rejected -->
            <%= simple_form_for @article, url: article_update_users_article_path(@article) do |f| %>

                <%= hidden_field_tag :status, :rejected_by_r %>
                <%= text_field_tag :note %>

                &nbsp;&nbsp;

                <%= f.submit 'Rechazar', class: 'btn btn-danger' %>

            <% end %>
          </li>

          <li class="list-group-item fa "> &nbsp;

            <!-- -->
            <%= simple_form_for @article, url: article_update_users_article_path(@article) do |f| %>

                <%= hidden_field_tag :status, :tcbr %>
                <%= text_field_tag :note %>

                &nbsp;&nbsp;
                <%= f.submit 'Enviar correción', class: 'btn btn-info' %>

            <% end %>
          </li>
        </ul>
      </div>


      <br><br>

  <% end %>


  <!-- Director -->
  <% if current_user.director? && @article.eca? && (!@article.referee_1 || !@article.referee_2 || !@article.referee_3) %>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Selección de árbitros</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fa "> &nbsp;


            <%= simple_form_for @article do |f| %>

                <% unless @article.referee_1_id %>
                    <%= f.select :referee_1_id, @article.suggested_referees.map {|u| [u&.first_name, u&.id]} %>
                <% end %>

                <% unless @article.referee_2_id %>
                    <%= f.select :referee_2_id, @article.suggested_referees.map {|u| [u&.first_name, u&.id]} %>
                <% end %>

                <% unless @article.referee_3_id %>
                    <%= f.select :referee_3_id, @article.suggested_referees.map {|u| [u&.first_name, u&.id]} %>
                <% end %>

                &nbsp; &nbsp;

                <%= f.submit 'Enviar a los arbitros', class: 'btn btn-primary' %>

                </li>

            <% end %>
            </ul>
      </div>

      <br><br>

  <% end %>

  <!-- Visto bueno -->
  <% if current_user.tmdcm? && @article.approved? %>

      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Revisión de artículo</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item fa "> &nbsp;


            <%= simple_form_for @article do |f| %>

                <% if @article.tmdcm_1.nil? && current_user != @article.tmdcm_2 %>
                    <%= f.input :tmdcm_1_review, as: :select, include_blank: false %>

                    <%= f.hidden_field :tmdcm_1_id, value: current_user.id %>

                    &nbsp;&nbsp;
                    <%= f.submit 'Enviar', class: 'btn btn-primary btn-block' %>


                <% elsif @article.tmdcm_2.nil? && current_user != @article.tmdcm_1 %>

                    <%= f.input :tmdcm_2_review, as: :select, include_blank: false %>

                    <%= f.hidden_field :tmdcm_2_id, value: current_user.id %>

                    &nbsp;&nbsp;
                    <%= f.submit 'Enviar', class: 'btn btn-primary btn-block' %>

                <% end %>

                </li>


            <% end %>
            </ul>
      </div>

      <br><br>

  <% end %>


  <% if false %>

      <% if @article.basic? %>
          <%= link_to "Aprobar <span class='glyphicon glyphicon-ok'></span>".html_safe, article_path(id: @article.id, article: {status: :approved}), method: :patch, remote: false, class: 'btn btn-primary' %>
      <% else %>
          <%= link_to "Aprobar <span class='glyphicon glyphicon-ok'></span>".html_safe, article_path(id: @article.id, article: {status: :approved}), method: :patch, remote: false, class: 'btn btn-primary' %>
      <% end %>

  <% end %>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= @article.title %></h4>
      <p class="card-text"><%= @article.abstract %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item fa fa-user"> &nbsp; <%= @article.author %></li>
      <li class="list-group-item fa fa-info-circle"> &nbsp; <%= @article.status %></li>

      <li class="list-group-item fa fa-key"> &nbsp; <%= @article.key_words %></li>


      <% @article.users_articles.each do |ua| %>
          <% if ua.correction_note && (ua.user.ecm? || ua.checked_by_director?) %>
              <li class="list-group-item ">
                <span class="fa fa-comment">&nbsp;<%= ua.correction_note %></span>
                <br>
                <!--<span class="fa fa-user">&nbsp;<%#= ua.user.role %></span>-->
              </li>
          <% end %>

          <% if ua.correction_note && current_user.director? && ua.user.referee? && !ua.checked_by_director %>
              Correción pendiente: <br>
              <%= simple_form_for @article, url: article_update_correction_note_path(@article, users_article_id: ua.id) do |f| %>

                  <%= text_area_tag :correction_note, ua.correction_note %>

                  <%= f.submit 'Enviar correción', class: 'btn btn-info' %>

              <% end %>
          <% end %>

      <% end %>


      <!--<li class="list-group-item "> &nbsp; <%#= link_to ' Edit', edit_article_path(@article), class: "fa fa-pencil" %> </li>-->

      <li class="list-group-item "> &nbsp; <%= link_to ' Volver', articles_path, class: "fa fa-chevron-left btn btn-primary btn-block" %> </li>
    </ul>


  </div>

  <br>
  <hr>

  <%= link_to ' Ver en el Navegador', @article&.file&.url, class: "fa fa-paperclip btn btn-primary btn-block" %>


  <!--
  <p>
    <strong>Title:</strong>
    <%#= @article.title %>
  </p>

  <p>
    <strong>Abstract:</strong>
    <%#= @article.abstract %>
  </p>

  <p>
    <strong>Author:</strong>
    <%#= @article.author %>
  </p>

  <p>
    <strong>Status:</strong>
    <%#= @article.status %>
  </p>

  <p>
    <strong>File:</strong>
    <%#= link_to 'Ver en el Navegador', @article&.file&.url %>
    <%#= link_to 'Ver en el Navegador', @article&.file&.remote_url %>

  </p>

  <p>
    <strong>User:</strong>
    <%#= @article&.user&.first_name %>
  </p>


  <iframe src='/web/viewer.html?file=<%#= @article&.file&.remote_url %>' class="article-pdf-viewer"></iframe>


  <hr>

-->

  <br><br>
  <h4>Vista previa</h4>
  <hr>
  <br>

  <iframe src='/web/viewer.html?file=<%= @article&.file&.remote_url %>' class="article-pdf-viewer"></iframe>


  <%#= link_to 'Edit', edit_article_path(@article) %>
  <%#= link_to 'Back', articles_path %>


</div>


<% if false %>

    <canvas id="the-canvas"></canvas>


    <%= javascript_include_tag '/pdf.js' %>


    <script type="text/javascript">

        PDFJS.workerSrc = "/pdf.worker.js";


        var url = '<%= @article&.file&.url %>';

        // Asynchronous download PDF
        PDFJS.getDocument(url)
            .then(function (pdf) {
                return pdf.getPage(1);
            })
            .then(function (page) {
// Set scale (zoom) level
                var scale = 1.5;

// Get viewport (dimensions)
                var viewport = page.getViewport(scale);

// Get canvas#the-canvas
                var canvas = document.getElementById('the-canvas');

// Fetch canvas' 2d context
                var context = canvas.getContext('2d');

// Set dimensions to Canvas
                canvas.height = viewport.height;
                canvas.width = viewport.width;

// Prepare object needed by render method
                var renderContext = {
                    canvasContext: context,
                    viewport: viewport
                };

// Render PDF page
                page.render(renderContext);
            });
    </script>

<% end %>