<% if current_user.director? && current_user.id != @user.id %>

    <div class="">
      <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :role, collection: User.roles.keys, include_blank: false %>
          </div>

          <div class="form-actions">
            <%= f.button :submit,  class: 'btn btn-primary' %>
          </div>


      <% end %>

    </div>


<% else %>

    <h3>No se puede editar el director</h3>

<% end %>

<hr>

<%= link_to 'Back', users_path,  class: 'btn btn-info' %>