<h3><%= @user.first_name  %></h3>
<p>Appellidos: <%= @user.last_name  %></p>
<p>Correo electrónico: <%= @user.email  %></p>

<p>Telefóno: <%= @user.phone  %></p>
<p>Dirección: <%= @user.address  %></p>
<p>País: <%= @user.country  %></p>

<p>Sitio web: <%= @user.web_site  %></p>

<hr>

<p>Resumen biográfico: <%= @user.bio  %></p>

<p>Institución: <%= @user.institution  %></p>
<p>Especialidad: <%= @user.speciality  %></p>


<%=  link_to 'Volver', users_path, class: 'btn btn-info' %>
