<div class="card">
  <div class="card-body">
    <h4 class="card-title"><b>Nombre:</b> <%= @user.first_name %></h4>
    <p class="card-text"><b>Appellidos:</b> <%= @user.last_name %></p>

  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item "><b>Correo electrónico:</b> <%= @user.email %></li>

    <li class="list-group-item "> <b>Dirección:</b> <%= @user.address %>  </li>
    <li class="list-group-item "> <b>País:</b> <%= @user.country %>  </li>
    <li class="list-group-item "> <b>Sitio web:</b> <%= @user.web_site %>  </li>

    <li class="list-group-item "> <b>Resumen biográfico:</b> <%= @user.bio %>  </li>

    <li class="list-group-item "> <b>Institución:</b> <%= @user.institution %>  </li>

    <li class="list-group-item "> <b>Especialidad:</b> <%= @user.speciality %>  </li>

  </ul>

</div>

<br>

<%= link_to 'Volver', users_path, class: 'btn btn-info' %>
