<%= simple_form_for(@volume) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :pages %>
    <%= f.input :creation_date %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-block btn-primary' %>
  </div>
<% end %>