<p id="notice"><%= notice %></p>

<h1>Volúmenes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Volumen</th>
      <th>Números asosiados</th>
      <th>Páginas</th>
      <th>Fecha de creación</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volumes.each do |volume| %>
      <tr>
        <td><%= volume.number %></td>
        <td><%= volume.journals.count %></td>
        <td><%= volume.pages %></td>
        <td><%= volume.creation_date %></td>

        <td><%= link_to '', volume, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_volume_path(volume), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', volume, method: :delete, data: { confirm: 'Está Seguro de eliminar el volumen?' }, class: 'fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear nuevo volumen', new_volume_path, class: 'btn btn-primary' %>
