<p id="notice"><%= notice %></p>



<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= @volume.number %></h4>

    <p class="card-text"><strong>Páginas:</strong> <%= @volume.pages %> </p>


    <p class="card-text"><strong>Fecha de creación:</strong> <%= @volume.creation_date %> </p>


    <p class="card-text">
      <strong>Números asociados:</strong>
    <ul class="list-group">
      <% @volume.journals.each do |j| %>
          <li class="list-group-item"><%= j.identifier %></li>
      <% end %>
    </ul>

    </p>

  </div>
</div>


<br>

<%= link_to 'Editar', edit_volume_path(@volume), class: 'btn btn-primary' %>
<%= link_to 'Volver', volumes_path, class: 'btn btn-info' %>
