<%= simple_form_for(@journal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.association :volume, label_method: :number, value_method: :id, include_blank: false %>
    <%= f.input :identifier %>
    <%= f.input :editor %>
    <%#= f.input :publisher %>
    <%#= f.input :indexing %>
    <%#= f.input :copyright %>
    <%= f.input :subject %>
    <%= f.input :others %>
    <%= f.input :publication_date  %>
    <%= f.input :cover, as: :file, input_html: {accept: '.pdf'} %>
    <%= f.input :max_articles %>

    <% if current_user.admin? %>
        <%= f.input :status, collection: Journal.statuses.keys.map {|role|
          [t(role, scope: [:activerecord, :attributes, :journal, :status]), role]}, include_blank: false %>
    <% end %>

    <%#= f.association :articles, as: :check_boxes  %>
    <%#= f.input :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-block btn-primary' %>
  </div>
<% end %>
