<div class="d-block mx-auto" style="">

<h1>Journals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Editor</th>
      <th>Publisher</th>
      <th>Indexing</th>
      <th>Copyright</th>
      <th>Subject</th>
      <th>Others</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.identifier %></td>
        <td><%= journal.editor %></td>
        <td><%= journal.publisher %></td>
        <td><%= journal.indexing %></td>
        <td><%= journal.copyright %></td>
        <td><%= journal.subject %></td>
        <td><%= journal.others %></td>
        <td><%= journal.user %></td>
        <td><%= journal.status %></td>
        <td><%= link_to '', journal, class: 'fa fa-eye' %></td>
        <td><%= link_to '', edit_journal_path(journal), class: 'fa fa-pencil' %></td>
        <td><%= link_to '', journal, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-trash' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Journal', new_journal_path, class: 'btn btn-primary' %>

</div>