
<div class="container-with-margin">

<p>
  <strong>Identifier:</strong>
  <%= @journal.identifier %>
</p>

<p>
  <strong>Editor:</strong>
  <%= @journal.editor %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @journal.publisher %>
</p>

<p>
  <strong>Indexing:</strong>
  <%= @journal.indexing %>
</p>

<p>
  <strong>Copyright:</strong>
  <%= @journal.copyright %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @journal.subject %>
</p>

<p>
  <strong>Others:</strong>
  <%= @journal.others %>
</p>

<p>
  <strong>User:</strong>
  <%= @journal.user %>
</p>

<%= hidden_field_tag 'journal', @journal.id, id: 'journal_id' %>
<%= select_tag 'articles', options_from_collection_for_select(Article.all, 'id', 'title'), id: 'article_id_select' %>
<%= text_field_tag 'position', '', id: 'article_position_text_field', type: 'number' %>
<%= button_tag 'submit', id: 'add_article_btn', onclick: "addArticleTojournal()" %>

<br>


<div id='journal-articles'>

  <%= render 'articles', journal: @journal %>

</div>

<br>


<%= link_to 'Ver en el Navegador', "/web/viewer.html?file=" + @journal&.file_name, target: :_blank %>

<%#= button_to 'Generar PDF', journal_combine_pdfs_path(@journal), method: :patch, remote: true %>

<br>

<div id="journal-pdfs-preview">

  <iframe src='/web/viewer.html?file=<%= @journal&.file_name %>' class="article-pdf-viewer"></iframe>

</div>




<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>


</div>

<script>

    function addArticleTojournal() {
        //console.log('hola');

        var journalId = $('#journal_id').val();
        var articleId = $('#article_id_select').val();
        var position = $('#article_position_text_field').val();

        console.log(articleId, ' ', position);


        $.ajax({
            type: 'PATCH',
            url: '/articles/' + articleId,
            dataType: 'script',
            data: {
                article: {
                    journal_id: journalId,
                    position: position
                }
            }
        }).done(function() {
            $.ajax({
                type: 'PATCH',
                url: '/journals/' + journalId + '/combine_pdfs',
                dataType: 'script',
                data: {
                    article: {
                        journal_id: journalId
                    }
                }
            });
        });





    }


</script>