<div class="container-with-margin">


  <% if current_user.director? && @journal.articles.count == @journal.max_articles && @journal.basic? %>

      <%= link_to "Publicar <span class='fa fa-send'></span>".html_safe, journal_path(id: @journal.id, journal: {status: :published}), method: :patch, remote: false, class: 'btn btn-primary', data: {confirm: '¿Estás seguro que quieres publicar el número?'} %>

  <% elsif current_user.director? && @journal.articles.count == @journal.max_articles && @journal.published? %>

      <%= link_to "Quitar publicación <span class='fa fa-undo'></span>".html_safe, journal_path(id: @journal.id, journal: {status: :basic}), method: :patch, remote: false, class: 'btn btn-danger', data: {confirm: '¿Estás seguro que quieres quitar la publicación?'} %>


  <% end %>

  <br>
  <br>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title"><%= @journal.identifier %></h4>
      <p class="card-text"><%= @journal.editor %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item fa fa-"> <%= t('publisher', scope: [:activerecord, :attributes, :journal]) %>
        : &nbsp; <%= @journal.publisher %></li>


      <li class="list-group-item fa fa-"> <%= t('subject', scope: [:activerecord, :attributes, :journal]) %>
        : &nbsp; <%= @journal.subject %> </li>

      <li class="list-group-item fa fa-"> <%= t('others', scope: [:activerecord, :attributes, :journal]) %>
        : &nbsp; <%= @journal.others %> </li>

      <!--<li class="list-group-item fa fa-"> <%#= t('user')  %>: &nbsp; <%#= @journal.user %> </li>-->

      <li class="list-group-item fa fa-"> Fecha de publicación: &nbsp; <%= @journal.publication_date %> </li>


      <li class="list-group-item fa fa-"> <%= t('status') %>: &nbsp; <%= t(@journal.status, scope: [:activerecord, :attributes, :journal, :status]) %> </li>


      <!--<li class="list-group-item "> &nbsp; <%#= link_to ' Edit', edit_article_path(@article), class: "fa fa-pencil" %> </li>-->

      <li class="list-group-item "> &nbsp; <%= link_to ' Volver ', journals_path, class: " btn btn-primary btn-block fa fa-chevron-left" %> </li>
    </ul>


  </div>

  <br>
  <hr>

  <!-- Important don't remove -->
  <%= hidden_field_tag 'journal', @journal.id, id: 'journal_id' %>
  <!-- --------------------------->


  <% if current_user.admin? || current_user.director? %>
      <% if @journal.articles.count < @journal.max_articles %>
          <%= select_tag 'articles', options_from_collection_for_select(Article.where(status: :approved), 'id', 'title_and_key_words'), id: 'article_id_select' %>
          <%= text_field_tag 'position', '', id: 'article_position_text_field', type: 'number' %>
          <%= button_tag 'Agregar articulo', id: 'add_article_btn', onclick: "addArticleTojournal()" %>

      <% end %>
  <% end %>

  <br>

  <div id='journal-articles'>

    <%= render 'articles', journal: @journal %>

  </div>

  <br>


  <%= link_to 'Ver en el Navegador', "/web/viewer.html?file=" + @journal&.combined_pdfs_name + '?' + Time.now.to_s.parameterize, target: :_blank, class: 'btn btn-block btn-primary' %>


  <br><br>
  <h4>Vista previa</h4>

  <hr>

<%#= button_to 'Generar PDF', journal_combine_pdfs_path(@journal), method: :patch, remote: true %>

  <br>

  <div id="journal-pdfs-preview">

    <iframe src='/web/viewer.html?file=<%= @journal&.combined_pdfs_name.to_s + '?' + Time.now.to_s.parameterize %>' class="article-pdf-viewer"></iframe>

  </div>




  <%#= link_to 'Edit', edit_journal_path(@journal) %>
  <%#= link_to 'Back', journals_path %>


</div>

<script>

    function combine_pdfs() {

        var journalId = $('#journal_id').val();


        $.ajax({
            type: 'PATCH',
            url: '/journals/' + journalId + '/combine_pdfs',
            dataType: 'script',
            data: {
                article: {
                    journal_id: journalId
                }
            }
        }).done(function () {
            location.reload();
        });


    }


    function addArticleTojournal() {
        //console.log('hola');

        var journalId = $('#journal_id').val();
        var articleId = $('#article_id_select').val();
        var position = $('#article_position_text_field').val();

        console.log(articleId, ' ', position);


        $.ajax({
            type: 'PATCH',
            url: '/articles/' + articleId,
            dataType: 'script',
            data: {
                article: {
                    journal_id: journalId,
                    position: position,
                    status: 'assigned_journal'
                }
            }
        }).done(function () {
            combine_pdfs();
        });

    }


</script>
