<% if user_signed_in? %>


    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Inicio', root_path, class: 'nav-link' %>
      </li>


      <li class="nav-item"><%= link_to 'Artículos', articles_path, class: 'nav-link' %></li>

      <li class="nav-item"><%= link_to 'Volumenes', journals_path, class: 'nav-link' %></li>

      <% if current_user.director? || current_user.admin? %>
          <li><%= link_to 'Usuarios', users_path, class: 'nav-link' %></li>

          <li><%= link_to 'Estadísticas', statistics_path, class: 'nav-link' %></li>

      <% end %>

    </ul>

    <ul class="navbar-nav ml-auto">

      <% if current_user.admin? || current_user.director? %>

          <% if Company.first %>
              <li><%= link_to 'Configurar revista', edit_company_path(Company.first), class: 'nav-link' %></li>
          <% end %>
      <% end %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" herf="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user&.first_name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <%= link_to 'Configurar cuenta', edit_user_registration_path, class: 'dropdown-item' %>
          <%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>


          <% if false %>

              <% if current_user.first_name == 'first_name' %>

                  <a class="dropdown-item" href="#">TEST</a>

              <% elsif current_user.first_name == 'otro_name' %>
                  <%= link_to 'nada', root_path, class: 'dropdown-item' %>
              <% end %>

          <% end %>

        </div>
      </li>
    </ul>



<% else %>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>


      <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %></li>
      <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %></li>

    </ul>
<% end %>

