<% if user_signed_in? %>

    <ul class="nav navbar-nav">

      <li><%= link_to 'Articles', articles_path %></li>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method => 'delete' %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span>
          <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <!-- TODO: use user's role -->
          <% if current_user.first_name == 'first_name' %>

              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>

          <% elsif current_user.first_name == 'otro_name' %>

              <li><%= link_to 'nada', root_path %></li>

          <% end %>

        </ul>
      </li>
    </ul>


<% else %>
    <ul class="nav navbar-nav">

      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    </ul>
<% end %>

