<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= content_for?(:title) ? yield(:title) : "Rails Devise" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <%= render 'layouts/messages' %>
  <div class="container">
    <br><br>
    <%= yield %>
  </div>
</main>
</body>
</html>
